/*
 *  Draco HTML Template by @flamekaizar
 *  License: Attribution-NonCommercial-ShareAlike 4.0 International (CC BY-NC-SA 4.0)
 */
h1, h2, h3, h4, h5, h6 {
  font-family: "Playfair Display SC", serif;
  color: #333333; }

a, p, li {
  font-family: "Lato", Arial, sans-serif;
  color: #4e4e4e;
  font-size: 1em;
  line-height: 1.75em; }

a:hover {
  text-decoration: none !important;
  color: #0d00ff !important;
  -webkit-transition: all 0.2s ease-in-out;
  -moz-transition: all 0.2s ease-in-out;
  -ms-transition: all 0.2s ease-in-out;
  -o-transition: all 0.2s ease-in-out;
  transition: all 0.2s ease-in-out; }

.navigation-toggle span{
color: #0f68e4;
}

.container {
  margin: auto;
  max-width: 662px;
  padding: 0 20px; }

@media only screen and (max-width: 767px) {
  .intro img {
    display: block;
    margin-left: auto;
    margin-right: auto; }

  footer {
    text-align: center; } }
.typed-cursor {
  opacity: 1;
  font-weight: 100;
  -webkit-animation: blink 0.7s infinite;
  -moz-animation: blink 0.7s infinite;
  -ms-animation: blink 0.7s infinite;
  -o-animation: blink 0.7s infinite;
  animation: blink 0.7s infinite; }

@-webkit-keyframes blink {
  0% {
    opacity: 1; }
  50% {
    opacity: 0; }
  100% {
    opacity: 1; } }
@-moz-keyframes blink {
  0% {
    opacity: 1; }
  50% {
    opacity: 0; }
  100% {
    opacity: 1; } }
@-ms-keyframes blink {
  0% {
    opacity: 1; }
  50% {
    opacity: 0; }
  100% {
    opacity: 1; } }
@-o-keyframes blink {
  0% {
    opacity: 1; }
  50% {
    opacity: 0; }
  100% {
    opacity: 1; } }

.neon-circle {
  position: fixed;
  top: 0;
  left: 0;
  width: 20px;
  height: 20px;
  border-radius: 50%;
  border: 2px solid #fff;
  box-shadow: 0 0 5px #fff, 0 0 20px #454343, 0 0 30px #454343, 0 0 40px #454343, 0 0 50px #454343, 0 0 60px #454343, 0 0 70px #454343;
  pointer-events: none;
  z-index: 9999;
}

.main-nav {
  background: #2d2d2d;
  padding-top: 23px;
cursor: pointer; }
  .main-nav nav ul li a {
    color: #2e79e1; }
  .main-nav nav ul li.active a {
    color: #2e79e1; }

    .slider {
      width: 100%;
      overflow-x: scroll;
      white-space: nowrap;
    }
    
    .slider-container {
      display: inline-flex;
    }
    
    .slider-item {
      margin-right: 20px;
      position: relative;
    }
    
    .slider-item img {
      width: 500px;
      height: 200px;
      object-fit: cover;
      cursor: pointer;
      object-fit: cover;
    }
    
    .slider-text {
      position: absolute;
      top: 50%;
      left: 50%;
      transform: translate(-50%, -50%);
      width: 90%;
      padding: 5px;
      background-color: rgba(0, 0, 0, 0.8);
      color: #fff;
      opacity: 0;
      transition: opacity 0.2s ease-in-out;
      word-wrap: normal;
    }
    
    .slider-item:hover .slider-text {
      opacity: 1;
    }
    
    .slider-text h4 {
      margin: 0;
      font-size: 11px;
      word-wrap: normal;
      color: #0f68e4;
    }
    
    .slider-text p {
      margin: 5px 0 0;
      font-size: 14px;
    }
    
    

.section.second {
  margin-bottom: 90px; }
.section .container {
  position: relative; }
  .section .container:after {
    position: absolute;
    content: url(../img/separator.png);
    left: 20px; }
  .section .container h1 {
    text-transform: uppercase;
    margin-bottom: 30px;
    position: relative;
    color: #407ccf; }

.intro {
  padding: 95px 0px 70px 0px;
  overflow-x: hidden; }
  .intro img {
    width: 90px;
    height: 90px;
    border-radius: 99px; }
  .intro .wrap {
    margin: 30px 0px; }
  .intro h1:before {
    position: absolute;
    left: -180px;
    top: -150px;
    font-size: 230px;
    z-index: -1;
    color: #a0c8fe; }
  .intro h1 span {
    font-size: 47px;
    color: #0f68e4; }
    .intro h4 {
      color: #0f68e4;
    }
    
.work .work-list {
  margin-left: 0px; }
  .work .work-list li {
    list-style: none;
    font-size: 0.9375em;
    color: #8c8c8c; }
    .work .work-list li a {
      padding-bottom: 5px;
      font-size: 1.1875em;
      font-weight: 700;
      text-decoration: none;
      border-bottom: 1px solid #407ccf; }
      .work .work-list li a:hover {
        border-bottom: 1px solid #407ccf; }

.award .award-list {
  margin-left: 0px; }
  .award .award-list li:first-child {
    font-size: 0.9375em;
    color: #8c8c8c; }

.skills .skill-list {
  margin-left: 0px; }
  .skills .skill-list li:first-child {
    font-size: 0.9375em;
    color: #8c8c8c; }

.quote {
  background-color: #407ccf;
  padding: 20px 0px;
  margin-top: 120px; }
  .quote h1 h5{
    margin: 100px 0px;
    padding: 40px 20px;
    border: 5px solid #fff;
    color: #fff; }

.resume-download {
      background-color: rgba(0, 0, 0, 0.8);
      color: #0f68e4;
      border-radius: 20px;
      padding: 10px 20px;
      border: none;
      cursor: pointer;
      font-family: "Playfair Display SC", serif;
    }

.circle {
border-radius: 50%;
    position: absolute;
    width: 210px;
    height: 200px;
    right: -105px;
    top: 105px;
    transform: translate(-50%, -50%);
    opacity: 0.5;
    z-index: -1;
}

.circle2 { 
border-radius: 50%;
    position: absolute;
    width: 210px;
    height: 200px;
    left: 260px;
    top: 180px;
    transform: translate(-50%, -50%);
    opacity: 0.5;
    z-index: -1;
}

.circle3 { 
border-radius: 50%;
    position: absolute;
    width: 210px;
    height: 200px;
    left: 260px;
    top: 800px;
    transform: translate(-50%, -50%);
    opacity: 0.5;
    z-index: -1;
}

.circle4 { 
border-radius: 50%;
    position: absolute;
    width: 210px;
    height: 200px;
    left: 760px;
    top: 1500px;
    transform: translate(-50%, -50%);
    opacity: 0.5;
    z-index: -1;
}

.black {
background-color: #383838;
}

.blue {
background-color: #1f46d1;
}
  

footer {
  padding: 50px 0px 0px 0px; 
}
footer .social li {
    display: inline;
    margin-left: 20px; 
  }
    footer .social li a {
      font-size: 30rem;
      color: #999999; }

